<h1>All CreateWikis</h1>
 <% @wikis.each do |wiki| %>
 <div class="media">
   <div class="media-body">
     <h4 class="media-heading">
       <%= link_to post.title, post %>
     </h4>
   </div>
 </div>
 <% end %>
